---
import Navigation from './Navigation.astro';
---

<header>
  <nav>
    <div class="nav-links">
      <Navigation url="/" pageName="Home" />
      <Navigation url="/about/" pageName="About" />
      <Navigation url="/blog/" pageName="Blog" />
    </div>
  </nav>
</header>
